* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 30px;
}

.navbar {
    background-color: #1f2937;
    height: 60px;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}

ul {
    list-style-type: none;
    display: flex;
}

.navbar a {
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
}

.navbar a:hover {
    opacity: 0.7;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

li {
    margin-left: 20px;
}